@font-face {
    font-family: 'Font Awesome 6 Pro';
    src: url('FontAwesome6Pro-Regular.woff2') format('woff2'),
        url('FontAwesome6Pro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font Awesome 6 Pro';
    src: url('FontAwesome6Pro-Solid.woff2') format('woff2'),
        url('FontAwesome6Pro-Solid.woff') format('woff');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Font Awesome 6 Pro';
    src: url('FontAwesome6Pro-Light.woff2') format('woff2'),
        url('FontAwesome6Pro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font Awesome 6 Pro';
    src: url('FontAwesome6Pro-Thin.woff2') format('woff2'),
        url('FontAwesome6Pro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

